<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="modules/blurbs/client/views/profile/blurb-profile.css">
</head>
<body>
<h1>About Blurb</h1>
<h3> Blurb is an app that encourages people to say those crazy, random thoughts that suddenly pop up out of nowhere. Eventually, all blurbs will be open to comments, can be liked, disliked, laughed at, and slapped to the different blurb boards you create.
</h3>



</body>
<script src="modules/blurbs/client/views/profile/blurb-profile.js"></script>
</html>